In [1]:
!pip install --upgrade pip
!pip install psycopg2 pandas sqlalchemy matplotlib

Requirement already satisfied: pip in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (23.3.1)
Requirement already satisfied: psycopg2 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (2.9.9)
Requirement already satisfied: pandas in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (2.0.23)
Requirement already satisfied: matplotlib in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (3.8.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from sqlalchemy) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\andre\escritorio\proyecto-datascience\entorno\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
import psycopg2 
import pandas as pds
import numpy as np
from sqlalchemy import create_engine
from matplotlib import pyplot as plt

In [52]:
# Create an engine instance

alchemyEngine = create_engine("postgresql://Jujo2040751:1JoUYywGRv4F@ep-damp-sky-94035100.us-east-2.aws.neon.tech/ETL-project?sslmode=require", pool_recycle=3600)

dbConnection = alchemyEngine.connect()

<h2> Promedio utilización servicios por paciente

In [47]:
dbConnection.rollback()
dF_servicio_dim = pds.read_sql("SELECT * FROM \"hecho_gestion_servicios\" INNER JOIN \"dim_servicios\" ON hecho_gestion_servicios.key_tipo_servicio = dim_servicios.key_tipo_servicio", dbConnection)

columnas_a_excluir = ['key', 'key_fecha_solicitud', 'key_fecha_atencion', 'key_medico', 'tiempo_espera_dias', 'tiempo_espera_Horas', 'key_demografia', 'costo', 'descripcion', 'id_servicio_pos', 'servicio_pos', 'key_ips', 'tiempo_espera_minutos', 'key_tipo_servicio']
dF_gestion_servicios_ = dF_servicio_dim.drop(columnas_a_excluir, axis=1)
dF_gestion_servicios_

       key_usuario                                         nombre
0               55                                      Urgencias
1               55                                      Urgencias
2               57                                      Urgencias
3               57                                      Urgencias
4               57                                      Urgencias
...            ...                                            ...
21202         4412                  Examen Radiografía de columna
21203         4412               Examen Resonancia nuclear (RNM)
21204         4412                          Consulta Especialista
21205         4412  Tratamiento Estimulación eléctrica del nervio
21206         4412               Examen Alergias Estudio Completo

[21207 rows x 2 columns]

In [48]:
df_servicio_urgencia = dF_gestion_servicios_[dF_gestion_servicios_["nombre"]=="Urgencias"]
df_servicio_urgencia

     key_usuario     nombre
0             55  Urgencias
1             55  Urgencias
2             57  Urgencias
3             57  Urgencias
4             57  Urgencias
..           ...        ...
554         4412  Urgencias
555         4412  Urgencias
556         4412  Urgencias
557         4412  Urgencias
558         4412  Urgencias

[559 rows x 2 columns]

In [49]:
frecuencia_urgencias_usuario = df_servicio_urgencia["key_usuario"].value_counts()
frecuencia_urgencias_usuario

key_usuario
4172    7
4196    7
4320    7
4169    6
4412    5
       ..
4154    1
4157    1
4158    1
4164    1
4206    1
Name: count, Length: 286, dtype: int64

In [50]:
promedio_frecuencia = frecuencia_urgencias_usuario.mean()
promedio_frecuencia

1.9545454545454546

Un paciente frecuenta urgencias al menos dos veces
En promedio, un paciente visita urgencias dos veces

In [56]:
dbConnection.rollback()
dF_dim_usuario = pds.read_sql("SELECT sexo, key_usuario FROM dim_usuario", dbConnection)
dF_dim_usuario

     sexo  key_usuario
0       F            1
1       F            2
2       M            3
3       M            4
4       M            5
...   ...          ...
4411    F         4412
4412    M         4413
4413    F         4414
4414    M         4415
4415    F         4416

[4416 rows x 2 columns]

In [57]:
urgencias_merge_sexo_ = pds.merge(df_servicio_urgencia, dF_dim_usuario, on='key_usuario', how='inner')
urgencias_merge_sexo_

     key_usuario     nombre sexo
0             55  Urgencias    F
1             55  Urgencias    F
2             57  Urgencias    F
3             57  Urgencias    F
4             57  Urgencias    F
..           ...        ...  ...
554         4412  Urgencias    F
555         4412  Urgencias    F
556         4412  Urgencias    F
557         4412  Urgencias    F
558         4412  Urgencias    F

[559 rows x 3 columns]

In [58]:
frecuencia_urgencias_sexo = urgencias_merge_sexo_["sexo"].value_counts()
frecuencia_urgencias_sexo

sexo
F    297
M    262
Name: count, dtype: int64

In [59]:
promedio_frecuencia_sexo = frecuencia_urgencias_sexo.mean()
promedio_frecuencia_sexo

279.5